.content {
    position: absolute;
    top: 0;
    left: calc(var(--sidebar-width) + 10px);
    height: 100%;
    width: calc(100% - calc(var(--sidebar-width) + 15px));
    transition:
        left 0.3s,
        width 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: auto;
    padding-bottom: 5px;
}

.contentExpanded {
    left: 5px;
    width: calc(100% - 10px);
}

.toolbarPresent {
    top: 37px;
    height: calc(100% - 37px);
}

[device-type="mobile"] .content.toolbarPresent {
    top: 58px;
    height: calc(100% - 58px);
}

.contentNoMargin {
    padding: 0;
    left: calc(var(--sidebar-width));
}

.contentExpanded.contentNoMargin {
    left: 0;
    width: 100%;
}
