.sidebarMainBtn {
    width: calc(100% - 8px);
    background-color: var(--button-primary-bg);
    border: none;
    outline: none;
    color: var(--text-inverse);
    border-radius: 5px;
    height: 32px;
    margin: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

[device-type="mobile"] .sidebarMainBtn {
    font-size: 1.4rem;
    height: 48px;
}

.sidebarMainBtn:hover {
    background-color: var(--button-primary-bg-hover);
}

.sidebarMainBtn:active {
    background-color: var(--button-primary-bg-active);
}
