.toolbarTitle {
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;
}

[device-type="mobile"] .toolbarTitle {
    font-size: 1.4rem;
}
