.notificationArea {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 999999;
}

.notification {
    position: relative  ;
    background-color: var(--surface-bg);
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--border-color);
    padding: 18px 24px;
    color: var(--text);
    max-width: 320px;
    gap: 8px;
    backdrop-filter: blur(32px);
}

.notificationIcon {
    width: 48px;
    height: 48px;
}

.notificationText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.notificationTitle {
    display: block;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.notifcationContent {
    display: -webkit-box;
    min-width: 0;
    overflow: hidden;
}

.notificationClose {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: var(--surface-bg);
    border: solid 1px var(--border-color);
    backdrop-filter: blur(32px);
    color: var(--text);
    cursor: pointer;
    opacity: 0;
    transition: 0.1s;
}

.notification:hover .notificationClose {
    opacity: 1;
}