.startMenuContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: all 0.3s ease-out;
    transform: translateY(128%) scale(0.6);
    pointer-events: none;
}

.mobileStartMenuContainer {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: calc(100vh - 128px);
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: all 0.3s ease-out;
    opacity: 0.5;
}

.startMenu {
    background-color: var(--background);
    backdrop-filter: blur(var(--blur));
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 72px;
    padding: 32px;
    border-radius: 16px;
    border: var(--border);
    width: 500px;
    max-height: 70vh;
    height: 600px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text);
    overflow: hidden;
}

.mobileStartMenu {
    width: 100%;
    height: 100%;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text);
}

.startMenuTop {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.appsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
    min-height: 0;
}

.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    gap: 8px;
}

.mobileStartMenu .apps {
    max-height: calc(100vh - 151px);
}

.appItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 88px;
    font-size: small;
    gap: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transition: 0.2s;
}

.mobileStartMenu .startMenuTitle {
    color: white;
    text-shadow: black 0 0 4px;
}

.mobileStartMenu .appTitle {
    color: white;
    text-shadow: black 0 0 4px;
}

.appItem img {
    width: 64px;
    height: 64px;
}

.appItem:hover {
    transform: scale(0.9);
}

.appItem:active {
    transform: scale(0.8);
}

.startMenuHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mobileStartMenu .startMenuHeader {
    padding: 0 32px 0 32px;
}

.startMenuTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
}

.startMenuSearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.startMenuSearchIcon {
    position: relative;
    left: 32px;
    height: 100%;
    opacity: 0.2;
    pointer-events: none;
}

.startMenuSearch {
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
    border: var(--border);
    outline: none;
    font-size: 1em;
    border-radius: 16px;
    padding-left: 32px;
    transition: 0.2s;
    color: var(--text);
}

.startMenuSearch:focus {
    width: 200px;
}

.startMenuContainerShown {
    transform: translateY(0) scale(1);
    opacity: 1;
    z-index: 100000;
    pointer-events: all;
}

.mobileStartMenuContainerShown {
    opacity: 1;
    pointer-events: all;
}

.startMenuFooter {
    padding: 16px;
    border-radius: 8px;
    border: var(--border);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-bg);
}

.mobileStartMenu .startMenuFooter {
    margin: 16px;
}

.logoutButton {
    border: none;
    outline: none;
    background-color: var(--background);
    border: var(--border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    font-size: 14px;
    color: white;
    transition: 0.2s;
}

.logoutButton:hover {
    background-color: var(--button-secondary-bg-hover);
}

.logoutButton:active {
    background-color: var(--button-secondary-bg-active);
}
