.bootContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    z-index: 10000000;
    animation: fadeOut 1.2s forwards;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    /* Move mask properties to the container */
    -webkit-mask-image: url(./assets/dark-logo.png);
    mask-image: url(./assets/dark-logo.png);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    /* Remove animation and background from the container */
    transform: translate(-50%, -50%);
    animation: dark 1.2s forwards;
}

.spinner::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(from 0deg at 50% 50%, #00000000 30%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 60%, #00000000 70%);
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 160px;
    animation: dark 1.2s forwards;
}

.lightLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 160px;
    animation: light 1.2s forwards;
}

.bootPage {
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    70% {
        opacity: 1;
        pointer-events: all;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}

@keyframes light {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
    }
    60% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

@keyframes dark {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
    }
}