.settingEntry {
    padding: 10px;
    border-radius: 8px;
    color: var(--text-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
}

[device-type="mobile"] .settingEntry {
    font-size: 1.4rem;
    flex-direction: column;
    align-items: flex-start;
}

[device-type="mobile"] .settingEntry:has(input[type="checkbox"]) {
    flex-direction: row;
    align-items: center;
}

[device-type="mobile"] .settingEntry:has(button) {
    flex-direction: row;
    align-items: center;
}
