:root {
    --bg-color: #2a2e32;
    --window-border-radius: 14px;
}

.taskbarContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110000;
    pointer-events: none;
    gap: 8px;
}

.taskbarContainerExpanded {
    background-color: var(--background);
    backdrop-filter: blur(var(--blur));
    transition: transform 0.3s cubic-bezier(.4,0,.2,1);
    pointer-events: all;
}

.taskbarContainerExpanded.taskbarContainerCollapsed {
    transform: translateY(85%);
}

.taskbarContainerExpanded.taskbarContainerCollapsed:hover {
    transform: translateY(0);
}

.taskbarContainerEdges {
    justify-content: space-between;
    height: auto;
}

.taskbar {
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background);
    backdrop-filter: blur(var(--blur));
    padding: 8px;
    border: var(--border);
    width: fit-content;
    max-width: 90vw;
    transition: transform 0.3s cubic-bezier(.4,0,.2,1);
    pointer-events: all;
}

.taskbarExpanded {
    background-color: transparent;
    border: none;
    border-radius: 0;
    backdrop-filter: none;
}

.dark.taskbar {
    background-color: red !important;
}

.taskbarApps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
}

.taskbarCollapsed {
    transform: translateY(80%);
}

.taskbarCollapsed .taskbarApps {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
    animation: taskbarAppsHide 0.3s cubic-bezier(.4,0,.2,1) forwards;
    will-change: opacity, pointer-events;
}

.taskbarExpanded.taskbarCollapsed {
    transform: none;
}

.taskbarCollapsed:hover {
    transform: translateY(0);
}

.taskbarCollapsed:hover .taskbarApps {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
    animation: taskbarAppsReveal 0.3s cubic-bezier(.4,0,.2,1) forwards;
}

@keyframes taskbarAppsHide {
    0% {
        pointer-events: all;
    }
    100% {
        pointer-events: none;
    }
}

@keyframes taskbarAppsReveal {
    0% {
        pointer-events: none;
    }
    100% {
        pointer-events: all;
    }
}

.taskbarEdges {
    border-radius: 0 16px 0 0;
}

.mobileTaskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: white;
    gap: 8px;
    border-top: solid 1px rgba(122, 122, 122, 0.395);
}

[data-theme='dark'] .mobileTaskbar {
    background-color: #000000;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}