.taskbarApp {
    height: 48px;
    width: 48px;
    transition: 0.2s;
}

.taskbarApp:hover {
    transform: scale(1.2);
}

.taskbarApp img {
    width: 48px;
    height: 48px;
    animation: taskbarAppShow 0.2s ease-out forwards;
}

.taskbarAppClicked img {
    animation: taskbarAppOpen 0.2s ease-in-out forwards;
}

.taskbarAppFocused img {
    animation: taskbarAppFocus 0.2s ease-in-out forwards;
}

.taskbarAppContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.taskbarAppContainer:hover,
.taskbarAppContainer:active {
    cursor: default;
}

.taskbarApp {
    cursor: default;
}

.taskbarAppContainerPinnedClosed,
.taskbarAppContainerPinnedClosed:hover,
.taskbarAppContainerPinnedClosed:active {
    cursor: default;
}

.taskbarAppFocusIndicator {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 2px;
}

.taskbarAppFocusIndicatorHidden {
    display: none;
}

@keyframes taskbarAppOpen {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.8) translateY(-30px);
        opacity: 0;
    }
}

@keyframes taskbarAppShow {
    from {
        opacity: 0;
        transform: translateY(48px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes taskbarAppFocus {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.6);
        opacity: 0;
    }
}

.taskbarAppMinimized {
    opacity: 0.6;
    transform: scale(0.6);
}

.taskbarAppPinnedClosed {
    transform: scale(0.6);
}

.taskbarAppPinnedClosed:hover {
    transform: scale(0.75);
}
