.toolbar {
    position: absolute;
    top: 0;
    left: calc(var(--sidebar-width) + 10px);
    width: calc(100% - calc(var(--sidebar-width) + 15px));
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 990;
    transition:
        top 0.3s,
        left 0.3s,
        width 0.3s;
}

.toolbarCollapsed {
    top: -100%;
}

[device-type="mobile"] .toolbar {
    top: 5px;
    height: 48px;
}

.toolbarExpanded {
    left: 5px;
    width: calc(100% - 10px);
}

.toolbarTitle {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.toolbarActions {
    background-color: var(--surface-bg);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
}

.toolbarActions button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--icon-color);
    cursor: pointer;
}
