.windowsContainer {
    position: "fixed";
    top: 0;
    left: 0;
    width: "100vw";
    height: calc(100vh - 56px); /* Subtracting the height of the taskbar */
}

.mobileWindowsContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - 64px); /* Subtracting the height of the taskbar */
    height: calc(100dvh - 64px); /* Dynamic viewport height for mobile */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
    backdrop-filter: blur(16px);
    border-radius: 0;
    z-index: 100;
    width: 100%;
}

.mobileWindowsContainerEmpty {
    opacity: 0;
    transform: none;
    pointer-events: none;
}

.windowsContainerMenuOpen {
    transform: scale(0.4) translateY(180vh);
    border-radius: 32px;
}

.mobileWindowsContainer::-webkit-scrollbar {
  display: none;
}

.windowsContainerActivitiesOpen {
    overflow-x: auto;
}