.sidebarTitle {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 8px;
    margin-left: 4px;
    color: var(--text-secondary);
}

[device-type="mobile"] .sidebarTitle {
    font-size: 1.2rem;
}
