
.taskbarApp, .mobileTaskbarApp {
    height: 48px;
    width: 48px;
    transition: 0.2s;
}

.taskbarApp:hover {
    transform: scale(1.2);
}

.taskbarApp:active {
    transform: scale(0.8);
}

.mobileTaskbarApp:hover {
    transform: none;
}

.mobileTaskbarApp:active {
    transform: none;
}

.taskbarApp img, .mobileTaskbarApp img {
    width: 48px;
    height: 48px;
    transition: 0.2s;
}

.taskbarAppClicked img, .mobileTaskbarAppClicked img {
    rotate: 45deg;
    transform: scale(0.8);
}

.taskbarAppContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}