.sidebar {
    width: var(--sidebar-width);
    background-color: var(--surface-bg);
    position: absolute;
    top: 0;
    bottom: 5px;
    height: auto;
    left: 5px;
    border-radius: 9px;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    z-index: 999;
    border: solid 1px var(--border-color);
    transform: translateX(0);
}

.sidebarCollapsed {
    left: calc(-1 * var(--sidebar-width) - 10px);
}

[device-type="mobile"] .sidebar.sidebarMobile {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border-radius: 0;
    transition: transform 0.25s ease;
    background-color: var(--card-bg);
}

[device-type="mobile"] .sidebar.sidebarMobile.sidebarMobileHidden {
    transform: translateX(-105%);
}

.sidebarContent {
    height: 100%;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 2px;
}

.sidebarFooter {
    padding: 0 4px 4px 4px;
}
